/cities
/streetview
/streetview_jpg
/__pycache__
/data_mapped
/models
geo_network_test.pth
streetview_jpg.zip
datasampled.csv
screenshot.png
screenshot.png
geo_network_23.pth
geo_network_finalish.pth
